<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.todolist">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hdu.todolist.Activity.ShowHiddenTaskActivity"></activity>
        <activity android:name="com.hdu.todolist.Activity.TodoListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hdu.todolist.Activity.TaskCreateActivity" />

        <service
            android:name="com.hdu.todolist.service.TodoNotificationService"
            android:exported="false" />
    </application>

</manifest>